body {
    margin: 0;
}
p{
    word-wrap: break-word;
    text-align: center;
}
main {
    margin: 16px;
}

.navbar {
    display: flex;
    align-items: center;
    background: pink;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
}

.navbar__title {
    margin-right: auto;
    font-size: 150%;
    padding: 12px 16px;
}
.titre-cadeau{
    color: #000;
    font-weight: 800;
}
.navbar__item {
    padding: 16px 16px;
    cursor: pointer;
    vertical-align: middle;
    margin: auto;
    font-weight: 600;
    opacity: 0.5;
}

.navbar__item a{
    width: 100%;
    text-decoration: none;
    color: #000;
}

.figure{
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px red;
}

.navbar__item:hover{
    font-weight: 900;
    opacity: 1;
 }
 .figure-img{
    height: 300px !important;
    width: 300px !important;
 }
#cadeau{
    color: #000;
    width: 90%;
    margin: auto;
}
 @media screen and (max-width: 600px) {
    body {
    }
    .navbar__item {
        width: 90%;
        margin: auto;
    }
  }