body {
    margin: 0;
}

main {
    margin: 16px;
}

.navbar {
    display: flex;
    align-items: center;
    
    background: pink;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
}

.navbar__title {
    margin-right: auto;
    font-size: 150%;
    padding: 12px 16px;
}

.navbar__item {
    padding: 16px 16px;
    cursor: pointer;
    vertical-align: middle;
    margin: auto;
    font-weight: 600;
    opacity: 0.5;
}

.navbar__item a{
    width: 100%;
    text-decoration: none;
    color: #000;
}

.item-cadeau{
    margin: auto;
    border: 2px solid; 
}

.navbar__item:hover{
    font-weight: 900;
    opacity: 1;
 }

 @media screen and (max-width: 600px) {
    body {
    }
    .navbar__item {
        width: 90%;
        margin: auto;
    }
  }